
html, body {
}
body {
  background-image: url('court.jpg');
  background-position:  center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: 'Bungee', cursive;
}



input[type="text"]{
  font-family: 'Bebas Neue';
  font-size: 14px;
  color: grey;
  width: 30%;
}


.playerBoxEmpty {
  transition: 0.3s;
  padding-right: .7em;
  padding-left: .7em;
  padding-bottom: .6em;
  padding-top: .6em;
  text-align: center;
  display: inline-block ;
  width: 210px;
  height: 320px;
  margin: 20px ;
}

.playerBoxEmpty:hover {
  -webkit-box-shadow: 2px 12px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 12px 10px  rgba(0,0,0,0.3);
  box-shadow: 2px 12px 10px rgba(0,0,0,0.3);
  opacity: 1;
  cursor: pointer;
}


.playerAdd{
  margin:0;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .8; 
  font-size: 100px;
}

#teamNameEdit{
  text-align: center;
  font-family: 'Bebas Neue';
  color: grey;
  font-size: 40px;
  margin: auto;
  width: 20%;
}

#teamNameEdit:focus{
  outline: none;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: arial;
  text-align: center;
}

/* Modal Content */
.modal-content {
  border-radius: 15px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: 400px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  margin-top: -.5em;
  margin-right: -.1em;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#resultsDiv {
overflow-y: auto;
  max-height: 300px;
}

#team1Container {
  text-align: center;
  width: 90%;
  margin: auto;
}


.contentContainer {
  font-family: arial;
}

.newPlayerStats{
  height: 300px;
  width: 250px;
  float: left;
  display: block;
  margin-right: 10px;
  text-align: center;
}


#searchText {
  width: 100%;
}

#resultsDiv {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  height: 350px;
}

.resultButton {
  width: 95%;
  background-color: #214cce;
  background-image: url('https://d2cwpp38twqe55.cloudfront.net/req/201911262/images/players/jamesle01.jpg');
  background-repeat: no-repeat;
  background-size: 32px 50px;
  border: 1px solid #214cce;
  color: white;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
}

.resultButton:hover {
  opacity: 1
}

.playerBox {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  background-image: url('cardBG.jpg');
  transition: 0.3s;
  padding-right: .7em;
  padding-left: .7em;
  padding-bottom: .6em;
  padding-top: .6em;
  text-align: center;
  display: inline-block;
  width: 210px;
  height: 320px;
  margin: 20px ;
}

.cardImage {
  height: 150px;
  width: 100px;
              margin: auto;
              display:inline-block;
              border: 1px solid gray;
              ">
}

.cardName {
  font-size: 1vw;
  height: 40px;
}

.teamInfo {
  background-color: #214cce;
  border-radius:50px ;
  opacity: .9;
  height: 100px;
  width: 70%;
  margin: auto;
  margin-top: 5px ;
}

.teamTotals {
  width: 50%; 
  height: 100px; 
  line-height: 100px; 
  float: left;
  display: inline;
  text-align: center;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  color: white
}